/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 13px;
  background-color: #b8b8b85b;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  padding-left: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  padding-left: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  padding-left: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  padding-left: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin: 1%;
}

.flex-45 {
  margin: 1%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-center > * {
  margin-right: 2rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  outline: none;
}

.btn-pri {
  background-color: #00a676;
  color: white;
}

.btn-pri:hover {
  background-color: #00a67794;
  color: wheat;
}

.btn-sec {
  background-color: #ef476f;
  color: white;
}

.btn-sec:hover {
  background-color: #ef476ead;
  color: wheat;
}

.btn-ter {
  background-color: #565254;
  color: #f0dba8;
}

.btn-ter:hover {
  background-color: gray;
  color: white;
}

.sec-padding {
  padding: 1.5rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.tac {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1.3rem;
  color: #4b4a4a;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.color-pri {
  color: #00a676;
}

.color-sec {
  color: #ef476f;
}

header {
  background: -webkit-gradient(linear, left bottom, right top, from(#1b393fb0), to(#009efa75));
  background: linear-gradient(to right top, #1b393fb0, #009efa75);
  padding: 1rem 0;
}

header strong {
  font-size: 2rem;
  font-weight: 800;
  color: #643110;
  text-shadow: 2px 2px goldenrod;
}

header .container {
  max-width: 1200px;
}

header a {
  margin-right: 1rem;
}

header a:hover {
  text-decoration: underline;
  background-color: #00a67798;
  color: wheat;
}

.hero-sec h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  color: #00a676;
}

.about-sec {
  text-align: center;
}

.listbtn-div {
  text-align: center;
}

.listbtn-div h5 {
  margin-bottom: 1rem;
}

.eventCreate-sec form {
  max-width: 40%;
  margin: 0 auto;
  background-color: #b39cd0;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px #949393;
          box-shadow: 4px 4px 4px #949393;
  padding: 2rem;
}

.event-div {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px gray;
          box-shadow: 4px 4px 4px gray;
  margin-bottom: 1rem;
  background-color: #00a6779d;
}

.event-div h4 {
  color: #565254;
  font-weight: 600;
  font-size: 1.5rem;
}

.eventDetails-div .flex-50 > * {
  margin-bottom: 1rem;
}

.eventDetails-div .eventDetails-div__left h2 {
  font-size: 2rem;
  color: chocolate;
}

.eventDetails-div .eventDetails-div__left p {
  font-size: 1rem;
}

.eventDetails-div .eventDetails-div__left .likes-div span {
  color: red;
  padding: 0.5rem;
  border: 1px dashed blue;
}

.eventDetails-div .eventDetails-div__left .likes-div a {
  margin-left: 1rem;
}

.eventDetails-div .eventDetails-div__left .likes-div i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.eventDetails-div .eventDetails-div__left .likes-div i:hover {
  opacity: 0.7;
}

.eventDetails-div .eventDetails-div__left .categories-div a {
  margin: 0 0.5rem;
}

.eventDetails-div .eventDetails-div__right h4 {
  font-size: 1.3rem;
  font-weight: 800;
}

.eventDetails-div .eventDetails-div__right span {
  color: #645050;
  font-weight: 600;
}

.commentForm-sec form {
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px #949393;
          box-shadow: 4px 4px 4px #949393;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  background-color: #b39cd0;
}

.remarkList-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.remarkList-container .remark-div {
  margin: 0.5rem 0;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 2px #afadad;
          box-shadow: 4px 4px 2px #afadad;
  padding: 1rem;
  background-color: #f3c5ff;
}

.remarkList-container .remark-div .left > * {
  padding: 0.5rem 0;
}

.remarkList-container .remark-div .left h3 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.remarkList-container .remark-div .left h4 {
  font-size: 1rem;
}

.remarkList-container .remark-div .left h4 span {
  color: #00a676;
  margin-left: 0.5rem;
}

.remarkList-container .remark-div .left h6 span {
  color: #00a676;
  margin-left: 0.5rem;
}

.remarkList-container .remark-div .right i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.remarkList-container .remark-div .right i:hover {
  opacity: 0.7;
}

.remarkList-container .remark-div .right > * {
  margin-bottom: 2rem;
}

aside {
  min-height: 100vh;
  width: 100%;
  background-color: #acd2ed;
}

aside h4 {
  text-align: center;
  padding: 2rem 0;
}

aside .allTags-div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */